@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');

.header-toolbar {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: black;
}

.header-back-button {
    height: 100%;
    width: 30%;
}